#map-center {
	height: 22px;
	margin: 5px 0 0 540px;
	position: absolute;
}

#map-center input {
	margin-right: 5px;
	text-align: center;
	width: 30px;
}

#map-center .button {
	cursor: pointer;
	display: inline-block;
	vertical-align: -6px;
}

#map-center .button div {
	float: left;
	font-weight: bolder;
	height: 22px;
	line-height: 22px;
}

#map-center .button.disabled .left,
#map-center .button.disabled .text,
#map-center .button.disabled .right {
	background-image: url('@EXTENSION_PATH/images/button-disabled.gif');
}

#map-center .button .left {
	background-position: -460px -6px;
	width: 7px;
}

#map-center .button:hover .left {
	background-position: -460px -35px;
}

#map-center .button.disabled .left {
	background-position: -7px -23px;
}

#map-center .button .text {
	background-position: 0 -450px;
	text-align: center;
	width: 50px;
}

#map-center .button:hover .text {
	background-position: 0 -473px;
	color: #ffffff;
}

#map-center .button.disabled .text {
	background-position: 0 0;
	color: GrayText;
	cursor: wait;
}

#map-center .button .right {
	background-position: -453px -6px;
	width: 7px;
}

#map-center .button:hover .right {
	background-position: -453px -35px;
}

#map-center .button.disabled .right {
	background-position: 0 -23px;
}
