#KingdomFrame {
	z-index: 2;
}

#KingdomFrame #KingdomClose {
	background-position: 0px -160px;
	height: 24px;
	width: 23px;
}

#KingdomFrame #KingdomSave {
	background: url('@EXTENSION_PATH/images/save.png');
	display: none;
	height: 24px;
	width: 23px;
	right: 66px;
	top: -9px;
}

#KingdomFrame #KingdomSave.disabled {
	background-image: url('@EXTENSION_PATH/images/save-disabled.png');
	cursor: not-allowed;
}

#KingdomFrame #KingdomSave.wait {
	background: url('@EXTENSION_PATH/images/wait.gif') no-repeat 50% 50%;
	cursor: wait;
	height: 32px;
	width: 32px;
	right: 62px;
	top: -13px;
}

#KingdomFrame #KingdomSave.error {
	background: url('@EXTENSION_PATH/images/error.png') no-repeat 50% 50%;
	cursor: not-allowed;
}

#KingdomFrame .kingdom {
	height: 450px;
	overflow: hidden;
}

#KingdomFrame table {
	border-collapse: collapse;
}

#KingdomFrame table td {
	padding: 0;
}

#KingdomFrame #KingdomDataContainer {
	height: 374px;
	overflow: hidden;
}

#KingdomFrame #KingdomTabs {
	color: #fffefd;
	font-size: 11px;
	font-weight: bold;
	height: 26px;
	line-height: 30px;
	margin-top: 7px;
	text-align: center;
}

#KingdomFrame #KingdomTabs div {
	background-repeat: no-repeat;
	cursor: pointer;
	float: left;
	height: 26px;
}

#KingdomFrame #KingdomTabs div.armies {
	background-position: 0 -156px;
	width: 155px;
}

#KingdomFrame #KingdomTabs div.armies.selected {
	background-position: 0 0;
}

#KingdomFrame #KingdomTabs div.production {
	background-position: 0 -182px;
	width: 155px;
}

#KingdomFrame #KingdomTabs div.production.selected {
	background-position: 0 -26px;
}

#KingdomFrame #KingdomTabs div.actions {
	background-position: 0 -208px;
	width: 155px;
}

#KingdomFrame #KingdomTabs div.actions.selected {
	background-position: 0 -52px;
}

#KingdomFrame #KingdomTabs div.recap {
	background-position: -155px 0;
	width: 155px;
}

#KingdomFrame #KingdomTabs div.recap.selected {
	background-position: -155px -26px;
}

#KingdomFrame #KingdomTabs a {
	color: #fffefd;
}

#KingdomFrame .kingdom table {
	width: 100%;
}

#KingdomFrame #KingdomDataContainerSliderKnob {
	left: 4px;
	width: 11px;
}

#KingdomFrame #KingdomDataContainerSliderKnob tr {
	background: none;
}

#KingdomFrame #KingdomDataContainerSliderKnob td {
	width: 9px;
}

#KingdomFrame .kingdom .header tr {
	color: #ffffff;
	height: 76px;
}

#KingdomFrame #KingdomArmiesHeader {
	background-color: #d11305;
}

#KingdomFrame #KingdomProductionHeader {
	background-color: #ee9c1c;
}

#KingdomFrame #KingdomActionsHeader {
	background-color: #255466;
}

#KingdomFrame .kingdom .header th.s {
	width: 18px;
}

#KingdomFrame .kingdom .header th div {
	margin: auto;
	height: 32px;
	width: 32px;
}

#KingdomFrame #KingdomArmiesHeader th:not(:first-child):not(.s) {
	width: 57px;
}

#KingdomFrame #KingdomArmiesData td:not(:first-child) {
	width: 50px;
}

#KingdomFrame #KingdomProductionHeader .gold {
	background-position: 0 -40px;
}
#KingdomFrame #KingdomProductionHeader .wood {
	background-position: -32px -40px;
}
#KingdomFrame #KingdomProductionHeader .ore {
	background-position: -64px -40px;
}
#KingdomFrame #KingdomProductionHeader .mercury {
	background-position: -96px -40px;
}
#KingdomFrame #KingdomProductionHeader .crystal {
	background-position: -128px -40px;
}
#KingdomFrame #KingdomProductionHeader .sulfur {
	background-position: -160px -40px;
}
#KingdomFrame #KingdomProductionHeader .gem {
	background-position: -192px -40px;
}

#KingdomFrame #KingdomArmiesData tr:nth-child(odd),
#KingdomFrame #KingdomProductionData tr:nth-child(odd),
#KingdomFrame #KingdomActionsData tbody tr.odd,
#KingdomFrame #KingdomRecapData tbody tr.odd {
	background: url('@EXTENSION_PATH/images/line-odd.gif');
}

#KingdomFrame #KingdomArmiesData tr:nth-child(even),
#KingdomFrame #KingdomProductionData tr:nth-child(even),
#KingdomFrame #KingdomActionsData tbody tr.even,
#KingdomFrame #KingdomRecapData tbody tr.even {
	background: url('@EXTENSION_PATH/images/line-even.gif');
}

#KingdomFrame #KingdomArmiesData tbody tr {
	height: 50px;
}
/*
#KingdomFrame #KingdomArmiesData tbody tr td:first-child {
	width: 111px !important;
}

#KingdomFrame #KingdomArmiesData tbody tr.recruits td:first-child {
	padding-top: 8px;
}

#KingdomFrame #KingdomArmiesData tbody tr.recruits td.empty {
	padding: 0 10px;
	vertical-align: middle;
}

#KingdomFrame #KingdomArmiesData tbody tr.recruits td .unit {
	font-size: smaller;
	margin-bottom: 5px;
}
*/
#KingdomFrame #KingdomProductionData {
	background-position: 0 1px;
}

#KingdomFrame #KingdomProductionData tbody tr {
	height: 40px;
}

#KingdomFrame #KingdomProductionHeader th.g {
	width: 127px;
}
#KingdomFrame #KingdomProductionData td.g {
	width: 120px;
}
#KingdomFrame #KingdomProductionHeader th.rc,
#KingdomFrame #KingdomProductionHeader th.rr {
	width: 57px;
}
#KingdomFrame #KingdomProductionData td.rc,
#KingdomFrame #KingdomProductionData td.rr {
	width: 50px;
}

#KingdomFrame .kingdom .data tbody td .city {
	float: right;
	height: 18px;
	margin-top: -18px;
	width: 18px;
}

#KingdomFrame .kingdom .data tbody td a {
	display: block;
}

#KingdomFrame .kingdom #KingdomArmiesData tbody td a {
	padding-top: 4px;
}

#KingdomFrame .kingdom .data tbody td .city.HAVEN {
	background-position: -82px -6px;
}

#KingdomFrame .kingdom .data tbody td .city.ACADEMY {
	background-position: -108px -6px;
}

#KingdomFrame .kingdom .data tbody td .city.INFERNO {
	background-position: -134px -6px;
}

#KingdomFrame .kingdom .data tbody td .city.NECROPOLIS {
	background-position: -160px -6px;
}

#KingdomFrame .kingdom .data tbody td .city.SYLVAN {
	background-position: -500px -6px;
}

#KingdomFrame .kingdom .data #KingdomDataContainer tbody td {
	border: 1px solid Sienna;
	padding: 4px;
}

#KingdomFrame #KingdomArmiesData tbody td {
	min-width: 2em;
	vertical-align: middle;
}

#KingdomFrame #KingdomProductionData tbody td {
	white-space: nowrap;
}

#KingdomFrame .kingdom .data tbody td.value {
	text-align: right;
}

#KingdomFrame .kingdom .data tbody tr.section td {
	background: #ff6600;
	color: #660000;
	font-size: 14px;
	font-weight: bolder;
	text-align: center;
	vertical-align: middle;
}

#KingdomFrame #KingdomArmiesData .unit {
	margin: 1px 2px 0;
	text-align: center;
}

#KingdomFrame #KingdomArmiesData .unit div {
	border: 1px solid #4d332e;
	height: 22px;
	margin: auto;
	width: 23px;
}

#KingdomFrame .unit .T1P {
	background-position: -23px 0;
}

#KingdomFrame .unit .T2 {
	background-position: -46px 0;
}

#KingdomFrame .unit .T2P {
	background-position: -69px 0;
}

#KingdomFrame .unit .T3 {
	background-position: -92px 0;
}

#KingdomFrame .unit .T3P {
	background-position: -115px 0;
}

#KingdomFrame .unit .T4 {
	background-position: -138px 0;
}

#KingdomFrame .unit .T4P {
	background-position: -161px 0;
}

#KingdomFrame .unit .T5 {
	background-position: -184px 0;
}

#KingdomFrame .unit .T5P {
	background-position: -207px 0;
}

#KingdomFrame .unit .T6 {
	background-position: -230px 0;
}

#KingdomFrame .unit .T6P {
	background-position: -253px 0;
}

#KingdomFrame .unit .T7 {
	background-position: -276px 0;
}

#KingdomFrame .unit .T7P {
	background-position: -299px 0;
}

#KingdomFrame .unit .T8 {
	background-position: -322px 0;
}

#KingdomFrame .unit .T8P {
	background-position: -345px 0;
}

#KingdomFrame #KingdomProductionData tbody td .storage {
	color: #CC0000;
	font-weight: bolder;
}

#KingdomFrame #KingdomProductionData tbody td .maintenance {
	color: red;
	font-weight: bolder;
}

#KingdomFrame .kingdom .data tbody tr.total td {
	background: #634a33;
	color: #ffffff;
	font-weight: bolder;
	vertical-align: middle;
}

#KingdomFrame #KingdomProductionData tbody tr.total td .maintenance {
	color: #ff0000;
}

#KingdomFrame #KingdomActionsData tbody,
#KingdomFrame #KingdomRecapData tbody {
	font-size: 11px;
}

#KingdomFrame #KingdomActionsData tbody tr,
#KingdomFrame #KingdomRecapData tbody tr {
	cursor: pointer;
}

#KingdomFrame #KingdomActionsData tbody tr.step {
	background: #fff2e5;
	color: #666666;
	cursor: default;
	display: none;
	font-size: 10px;
}

#KingdomFrame #KingdomRecapData tbody tr.step {
	background: lavender;
	color: darkBlue;
	cursor: default;
	display: none;
	font-family: monospace;
	text-align: center;
	font-size: 10px;
}

#KingdomFrame #KingdomActionsHeader th.a {
	width: 107px;
}
#KingdomFrame #KingdomActionsData td.a {
	text-align: center;
	width: 100px;
}

#KingdomFrame #KingdomActionsHeader th.d {
	width: 250px;
}
#KingdomFrame #KingdomActionsData td.d {
	width: 243px;
}

#KingdomFrame #KingdomActionsHeader th.t {
	width: 112px;
}
#KingdomFrame #KingdomActionsData td.t {
	text-align: center;
	width: 105px;
}

#KingdomFrame #KingdomActionsData tbody td.open,
#KingdomFrame #KingdomActionsData tbody td.close {
	font-family: monospace;
	text-align: center;
}

#KingdomFrame #KingdomActionsData td .goods span {
	margin-right: 2px;
	white-space: nowrap;
}

#KingdomFrame #KingdomActionsData td .goods span span {
	display: inline-block;
	height: 20px;
	vertical-align: middle;
	width: 20px;
}

#KingdomFrame #KingdomActionsData .action .icon {
	background-repeat: no-repeat;
	border: 1px solid #f1bf28;
	height: 17px;
	margin-top: 5px;
	width: 16px;
}

#KingdomFrame #KingdomActionsData .action .ABILITY_END {
	background-position: -32px -34px;
}

#KingdomFrame #KingdomActionsData .action .AUCTION_HOUSE_DELIVERY {
	background-position: -96px -17px;
}

#KingdomFrame #KingdomActionsData .action .BUILD_CITYBUILDING {
	background-position: -16px -17px;
}

#KingdomFrame #KingdomActionsData .action .CARAVAN_DELIVERY {
	background-position: -96px -17px;
}

#KingdomFrame #KingdomActionsData .action .DESTROY_ZONEBUILDING {
	background-position: -80px -34px;
}

#KingdomFrame #KingdomActionsData .action .DOWNGRADE_MINE {
	background-position: -64px -34px;
}

#KingdomFrame #KingdomActionsData .action .HERO_ATTACK_NPC {
	background-position: 0 0;
}

#KingdomFrame #KingdomActionsData .action .HERO_ATTACK_REGION {
	background-position: -16px 0;
}

#KingdomFrame #KingdomActionsData .action .HERO_BUILD_ZONEBUILDING {
	background-position: -32px -17px;
}

#KingdomFrame #KingdomActionsData .action .HERO_DIG_ZONE {
	background-position: -48px -34px;
}

#KingdomFrame #KingdomActionsData .action .HERO_LEARN_CLASS {
	background-position: -112px -17px;
}

#KingdomFrame #KingdomActionsData .action .HERO_LEARN_SKILL {
	background-position: -128px -17px;
}

#KingdomFrame #KingdomActionsData .action .HERO_MOVE {
	background-position: -48px 0;
}

#KingdomFrame #KingdomActionsData .action .HERO_PILLAGE_ZONE {
	background-position: -32px 0;
}

#KingdomFrame #KingdomActionsData .action .HERO_RESPEC {
	background-position: -48px -34px;
}

#KingdomFrame #KingdomActionsData .action .HERO_SCOUT_CITY,
#KingdomFrame #KingdomActionsData .action .HERO_SCOUT_HALT,
#KingdomFrame #KingdomActionsData .action .HERO_SCOUT_REGION,
#KingdomFrame #KingdomActionsData .action .HERO_SCOUT_TROOPS {
	background-position: -112px 0;
}

#KingdomFrame #KingdomActionsData .action .HERO_SETTLE_REGION {
	background-position: 0 -17px;
}

#KingdomFrame #KingdomActionsData .action .HERO_UPGRADE_ZONEBUILDING {
	background-position: -48px -17px;
}

#KingdomFrame #KingdomActionsData .action .IMPROVE_MINE {
	background-position: -80px -17px;
}

#KingdomFrame #KingdomActionsData .action .PLAYER_LEAVE_ALLIANCE {
	background-position: -32px -34px;
}

#KingdomFrame #KingdomActionsData .action .PORTAL_BUILD_CAMP {
	background-position: -48px -34px;
}

#KingdomFrame #KingdomActionsData .action .RECRUIT_HERO {
	background-position: 0 -34px;
}

#KingdomFrame #KingdomActionsData .action .REGION_RECRUIT {
	background-position: -128px 0;
}

#KingdomFrame #KingdomActionsData .action .RELAY_DELIVERY {
	background-position: -96px -17px;
}

#KingdomFrame #KingdomActionsData .action .SEARCH_PARTY {
	background-position: -48px -34px;
}

#KingdomFrame #KingdomActionsData .action .UPGRADE_MINE {
	background-position: -64px -17px;
}

#KingdomFrame #KingdomActionsData .gold {
	background-position: 0 0;
}
#KingdomFrame #KingdomActionsData .wood {
	background-position: -20px 0;
}
#KingdomFrame #KingdomActionsData .ore {
	background-position: -40px 0;
}
#KingdomFrame #KingdomActionsData .mercury {
	background-position: -60px 0;
}
#KingdomFrame #KingdomActionsData .crystal {
	background-position: -80px 0;
}
#KingdomFrame #KingdomActionsData .sulfur {
	background-position: -120px 0;
}
#KingdomFrame #KingdomActionsData .gem {
	background-position: -100px 0;
}
